{% if '1' in operation %}
<td id="img_origin">
  <img width="300" height="400" id="originalimg" src="data:url/jpeg;base64, {{ imagen_original }}" />
</td>
<td id="img_final">
  <img width="300" height="400" id="finalimg" src="data:url/jpeg;base64, {{ imagen_final }}" />
</td>
{% elif '2' in operation %}
  {{ data|safe }}
{% endif %}

